doctype html
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Login

    body
        form(action="/public/login.html" method="post")
            input(type="hidden" name="redirect" value=`${redirect}`)
            fieldset
                legend Login to { tenant account}

                label(for="account") User:
                    input#account(type="text" name="account" value=`${account}`)/
                br/

                label(for="password") Password
                    input#password(type="password" name="password")/
                br/

                input(type="submit")

            if error
                ul(style={color: 'red'})
                    li= error