doctype html
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Login

    body
        h3 Welcome [#{user.name}]
        a(href='/public/logout.html') Logout